@model TimeRecordListFilterModel

@{
    ViewBag.Title = ClientManagerGlobalResources.TimeRecord;
}

<div data-ng-controller="TimeRecordCtrl as vm" ng-init='vm.init(@Html.Json(Model))'>
    <h3>@ClientManagerGlobalResources.TimeRecord</h3>
    <div class="spacer">
    </div>
    @Html.Partial("_Filters", Model)
    <div class="spacer"></div>
    @*@Html.Partial("_Calendar", Model)*@
    <uib-tabset active="active">
        <uib-tab index="0" heading="Listado">@Html.Partial("_List", Model)</uib-tab>
        <uib-tab index="$index + 1" heading="Calendario" disable="tab.disabled">
            @Html.Partial("_Calendar", Model)
        </uib-tab>
    </uib-tabset>

    
</div>
@*@Html.AngularPreBindJson("vm")*@
