@model ClientManager.Service.Models.ProjectForm
@{
}
<form role="form" form-parse id="ProjectForm" name="vm.form" ng-submit="vm.create('#ProjectForm')" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Crear @ClientManagerGlobalResources.Project</h4>
    </div>
    <div class="modal-body" ng-init='vm.init(@Html.Json(Model))'>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @*Html.AngularEditorForModel("vm.project")*@

        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Nombre)
            @Html.AngularEditorFor(x => x.Nombre, new { Prefix = "vm.project" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Descripcion)
            @Html.AngularEditorFor(x => x.Descripcion, new { Prefix = "vm.project" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.CostoTotal)
            @Html.AngularEditorFor(x => x.CostoTotal, new { Prefix = "vm.project" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Cuotas)
            @Html.AngularEditorFor(x => x.Cuotas, new { Prefix = "vm.project" })
        </div>
        <div ng-show="vm.project.cuotas" class="col-md-12 form-group">
            @Html.LabelFor(x => x.CantidadCuotas)
            @Html.AngularEditorFor(x => x.CantidadCuotas, new { Prefix = "vm.project" })
        </div>
        <div ng-show="vm.project.cuotas" class="col-md-12 form-group">
            @Html.LabelFor(x => x.FechaPago)
            @Html.AngularEditorFor(x => x.FechaPago, new { Prefix = "vm.project" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.FechaInicio)
            @Html.AngularEditorFor(x => x.FechaInicio, new { Prefix = "vm.project" })
        </div>
        <div class="col-md-12 form-group">

            @Html.LabelFor(x => x.ClientId)
            @Html.AngularEditorFor(x => x.ClientId, new { Prefix = "vm.project" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancelar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>